<!doctype html>
<html>
<head>
    <title>Order Up!</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
</head>
</head>
<body>
  <section class="containerLogin">
          
            <h2>Log-In</h2>
            
            <a href="/signup">Sign-Up</a> 
            
            <form action="/login" method="post" class="formLogin">
                <input type="text" name="email" placeholder="email">
                <input type="text" name="password" placeholder="password">
                <button type="submit">Submit</button>
            </form>

            <a href="/">Back to Menu</a> 
        
  </section>

  <section class="otherContainer">
    <h1 class="tagLine">Coffee is life. Made from Civet cats.</h1>
  </section>

 
<script src="main.js"></script>

</body>
</html>