<!doctype html>
<html>
<head>
    <title>Order Up!</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
</head>
</head>
<body>
  <section class="containerSignup">
    <h1>HaydenBucks <i class="fa-solid fa-mug-hot"></i></h1>
    <h2>Sign-Up</h2>
    <a href="/login"><button>Log-In</button></a> 

            <form action="/signup" method="post">
                <input type="text" name="firstName" placeholder="First Name">
                <input type="text" name="lastName" placeholder="Last Name">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
            <a href="/">Back to Menu</a>       
  </section>

  <section class="otherContainer">
    <h1 class="tagLine">New Barista, welcome to coffee and coffee welcomes you</h1>
  </section>

 
<script src="main.js"></script>

</body>
</html>